<section class="typography">
    <h1>Typography</h1>
    <div>
        <span class="subheading">H1 | Spartan Bold | 32px | 36px Line | -1 Spacing</span>
        <h1>H1 Once more into the breach dear friends!</h1>
        <h2>H2 Once more into the breach dear friends!</h2>
        <h3>H3 Once more into the breach dear friends!</h3>
        <h4>H4 Once more into the breach dear friends!</h4>
    </div>

    <div>
        <span class="subheading">Body 1</span>
        <p class="body1">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec
            urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet
            viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse
            potenti.
        </p>
        <p class="body1">
            Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus
            libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed
            semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc
            sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.
        </p>

    </div>

    <div>
        <span class="subheading">Body 2</span>
        <p class="body2">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec
            urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet
            viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse
            potenti. Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue.
            Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit
            tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis
        </p>

    </div>
</section>

<section class="buttons">
    <h1>Buttons</h1>

    <div class="group">
        <label>Light Theme Buttons (lite theme)</label>
        <button>Default</button>
        <button class="lg" (click)="openDrawer()">Open Drawer</button>
        <button class="secondary">Seconday Button</button>
        <button class="primary md icon">
            <app-icon name="icon-plus"></app-icon> Primary With Icon
        </button>
        <button class="primary sm">Small No Icon</button>
        <button class="primary sm icon">
            <app-icon name="icon-plus"></app-icon>Invoice
        </button>
        <button class="warn">Delete</button>
    </div>

    <div class="group dark-theme">
        <label>Dark Theme Buttons (lite theme)</label>
        <button>Default</button>
        <button class="lg">Default Large</button>
        <button class="secondary">Seconday Button</button>
        <button class="primary md icon">
            <app-icon name="icon-plus"></app-icon> Primary With Icon
        </button>
        <button class="primary sm">Small No Icon</button>
        <button class="primary sm icon">
            <app-icon name="icon-plus"></app-icon>Invoice
        </button>
        <button class="warn">Delete</button>
    </div>
</section>

<section class="form-elements">
    <h1>Form Elements: Light Theme</h1>

    <div class="group">
        <label>Text Fields</label>

        <div class="form-group error">
            <label for="street">Stree Address</label>
            <span class="error">An error</span>
            <input type="text" name="street" id="street">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="tel" name="phone" id="phone">
        </div>
    </div>

    <div class="group">
        <label>Select Fields</label>
        <!--
            TODO: make this a custom select
            https://css-tricks.com/striking-a-balance-between-native-and-custom-select-elements/
        -->
        <div class="form-group">
            <label for="payment">Payment Terms</label>
            <select name="payment" id="payment">
                <option>Next Day</option>
                <option>3 - 5 Days</option>
                <option>6 - 7 Days</option>
            </select>
        </div>
    </div>

    <div class="group">
        <label>Datepicker Fields</label>

        <div class="form-group">
            <label for="date">Date</label>
            <input type="text" min="2019-01-01" name="date" placeholder="Put a date down" id="date">
        </div>
    </div>
</section>

<section class="form-elements dark-theme">
    <h1>Form Elements: Dark Theme</h1>

    <div class="group">
        <label>Text Fields</label>

        <div class="form-group error">
            <label for="street">Stree Address</label>
            <span class="error">An error</span>
            <input type="text" name="street" id="street">
        </div>
        <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input type="tel" name="phone" id="phone">
        </div>
    </div>

    <div class="group">
        <label>Select Fields</label>
        <!--
            TODO: make this a custom select
            https://css-tricks.com/striking-a-balance-between-native-and-custom-select-elements/
        -->
        <div class="form-group">
            <label for="payment">Payment Terms</label>
            <select name="payment" id="payment">
                <option>Next Day</option>
                <option>3 - 5 Days</option>
                <option>6 - 7 Days</option>
            </select>
        </div>
    </div>

    <div class="group">
        <label>Datepicker Fields</label>

        <div class="form-group">
            <label for="date">Date</label>
            <input type="text" min="2019-01-01" name="date" placeholder="Put a date down" id="date">
        </div>
    </div>
</section>
