@import './variables.scss';

.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem .5rem;

    input,
    label {
        width: 100%;
    }

    label,
    span {
        margin-bottom: 1rem;
    }

    span {
        text-align: end;
    }

    &.error {
        span,
        label {
            width: 50%;
            color: $red;
        }


        input {
            border: 1px solid $red;
        }
    }
}
