@import './variables.scss';

.border {
    width: 100%;
    height: 1px;
    margin: 24px 0;
    background-color: $border-color;

    &.vert {
        width: 1px;
        height: 100%;
        margin: 0;
    }

    @media screen and (min-width: $tablet-max-width) {
        &.vert {
            width: 100%;
            height: 1px;
            margin: 24px 0;
        }
    }
}

.form-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem .5rem;

    input,
    label {
        width: 100%;
    }

    label,
    span {
        margin-bottom: 1rem;
    }

    span {
        text-align: end;
    }

    &.error {
        span,
        label {
            width: 50%;
            color: $red;
        }


        input {
            border: 1px solid $red;
        }
    }

    .select-icon {
        background: url('../assets/svg/icon-arrow-down.svg') no-repeat 10px 7px;
        background-position-x: 97%;
        background-position-y: center;
    }
}
