<aside [ngClass]="{'open': open}" [class]="theme">
    <section class="form-elements">
        <h1>Form Elements: Light Theme</h1>

        <div class="group">
            <label>Text Fields</label>

            <div class="form-group error">
                <label for="street">Stree Address</label>
                <span class="error">An error</span>
                <input type="text" name="street" id="street">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" name="phone" id="phone">
            </div>
        </div>

        <div class="group">
            <label>Select Fields</label>
            <!--
                TODO: make this a custom select
                https://css-tricks.com/striking-a-balance-between-native-and-custom-select-elements/
            -->
            <div class="form-group">
                <label for="payment">Payment Terms</label>
                <select name="payment" id="payment">
                    <option>Next Day</option>
                    <option>3 - 5 Days</option>
                    <option>6 - 7 Days</option>
                </select>
            </div>
        </div>

        <div class="group">
            <label>Datepicker Fields</label>

            <div class="form-group">
                <label for="date">Date</label>
                <input type="text" min="2019-01-01" name="date" placeholder="Put a date down" id="date">
            </div>
        </div>
    </section>

    <section class="form-elements">
        <h1>Form Elements: Light Theme</h1>

        <div class="group">
            <label>Text Fields</label>

            <div class="form-group error">
                <label for="street">Stree Address</label>
                <span class="error">An error</span>
                <input type="text" name="street" id="street">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" name="phone" id="phone">
            </div>
        </div>

        <div class="group">
            <label>Select Fields</label>
            <!--
                TODO: make this a custom select
                https://css-tricks.com/striking-a-balance-between-native-and-custom-select-elements/
            -->
            <div class="form-group">
                <label for="payment">Payment Terms</label>
                <select name="payment" id="payment">
                    <option>Next Day</option>
                    <option>3 - 5 Days</option>
                    <option>6 - 7 Days</option>
                </select>
            </div>
        </div>

        <div class="group">
            <label>Datepicker Fields</label>

            <div class="form-group">
                <label for="date">Date</label>
                <input type="text" min="2019-01-01" name="date" placeholder="Put a date down" id="date">
            </div>
        </div>
    </section>
    <section class="form-elements">
        <h1>Form Elements: Light Theme</h1>

        <div class="group">
            <label>Text Fields</label>

            <div class="form-group error">
                <label for="street">Stree Address</label>
                <span class="error">An error</span>
                <input type="text" name="street" id="street">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="tel" name="phone" id="phone">
            </div>
        </div>

        <div class="group">
            <label>Select Fields</label>
            <!--
                TODO: make this a custom select
                https://css-tricks.com/striking-a-balance-between-native-and-custom-select-elements/
            -->
            <div class="form-group">
                <label for="payment">Payment Terms</label>
                <select name="payment" id="payment">
                    <option>Next Day</option>
                    <option>3 - 5 Days</option>
                    <option>6 - 7 Days</option>
                </select>
            </div>
        </div>

        <div class="group">
            <label>Datepicker Fields</label>

            <div class="form-group">
                <label for="date">Date</label>
                <input type="text" min="2019-01-01" name="date" placeholder="Put a date down" id="date">
            </div>
        </div>
    </section>
    <button (click)="close()">Cancel</button>
    <button class="primary sm">Save Changes</button>

</aside>
